docs/n8n-backups/2026-05-28/order-trigger.pre-risma-state-214202.json
{
  "updatedAt": "2026-05-26T08:58:09.075Z",
  "createdAt": "2026-05-24T14:51:55.488Z",
  "id": "wgOVQrzkYOijDta1",
  "name": "WaFaChat · Order Trigger",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "berdu-order-prod",
        "options": {}
      },
      "id": "node-wh-out",
      "name": "Berdu Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "499b5c85-fb19-4b9e-82eb-f0078c146c81"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst userId = body.user_id;\nconst orderId = body.order_id;\nconst eventType = body.event_type;\nconst trigger = body.trigger || body.status || '';\n\nconst relevantEvents = ['order.new', 'order.update.paymentStatus', 'order.update.shippingStatus'];\nif (!relevantEvents.includes(eventType)) {\n  return [{ json: { _skip: true, reason: `event ${eventType} diabaikan` } }];\n}\nif (!userId || !orderId) {\n  throw new Error('Webhook payload missing user_id or order_id');\n}\n\nconst APP_ID = 'Z1Ch4oa';\nconst APP_SECRET = 'o03Vk74kQIaN6aB5LNa3IgZDa3ltBwTxyAhQ4UB6vXUw';\nconst ts = Math.floor(Date.now() / 1000);\nconst hmacMessage = `${APP_ID}:${ts}:${APP_SECRET}`;\n\nreturn [{ json: {\n  app_id: APP_ID,\n  api_secret: APP_SECRET,\n  user_id: userId,\n  order_id: orderId,\n  event_type: eventType,\n  trigger,\n  ts,\n  hmacMessage,\n  target_url: `https://api.berdu.id/v0.0/order/detail?user_id=${userId}&order_id=${orderId}`\n} }];"
      },
      "id": "node-prep-out",
      "name": "Extract Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-skip-check",
      "name": "Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.hmacMessage }}",
        "dataPropertyName": "signature",
        "encoding": "base64"
      },
      "id": "node-hmac-out",
      "name": "HMAC SHA256",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        912,
        432
      ],
      "credentials": {
        "crypto": {
          "id": "cC2zMvNDWjYud4XA",
          "name": "Berdu HMAC Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst authHeader = `${d.app_id}.${d.ts}.${d.signature}`;\nreturn [{ json: { ...d, authHeader } }];"
      },
      "id": "node-header-out",
      "name": "Build Auth Header",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        432
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.target_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.authHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-order-detail-out",
      "name": "GET /order/detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst order = d.body || d;\n\nfunction normalizePhone(raw) {\n  if (!raw) return null;\n  return raw.toString().replace(/\\s+/g, '').replace(/^\\+/, '').replace(/^0/, '62');\n}\n\nfunction formatRupiah(num) {\n  return 'Rp' + Number(num).toLocaleString('id-ID');\n}\n\nconst addr = order.shipping_address || {};\nconst phone = normalizePhone(addr.phone);\nconst customerName = addr.firstName || 'Pelanggan';\nconst assignedStaff = order.assigned_to_staff;\nconst shippingCost = order.shipping_cost || 0;\nconst total = order.total || 0;\nconst paymentStatus = order.payment_status;\n\nconst productsSubtotal = (order.products || []).reduce((sum, p) => sum + (p.price * p.count), 0);\nconst productsList = (order.products || []).map(p => `${p.name} (${p.count}x)`).join(', ');\n\nconst shippingAddress = addr.address || '';\nconst shippingDistrict = addr.district || '';\nconst shippingCity = addr.city || '';\n\nconst staffMap = {\n  'B-1apQSy': { senderName: 'CS Aisyah', sender: '6281385708799',  apiKey: 'kc_live_eepCPoHDjpF3AyPfX0_2MNDspKiyOcbBxEEeyWJQYNg', templateName: 'whatsapp_notif_order_aisyah' },\n  'B-1CxSmL': { senderName: 'CS Risma',  sender: '6282321381742', apiKey: 'kc_live_vvgG_3JEVsqcsBY3KNakKDqd5CMPFxGuUvyMke5QWf8',  templateName: 'whatsapp_notif_order_risma' },\n  // Lila, Azelia: ditambahkan setelah punya KirimChat sendiri\n};\n\nconst csConfig = staffMap[assignedStaff];\nif (!csConfig) {\n  return [{ json: { _skip: true, reason: `staff ${assignedStaff} tidak ada di mapping` } }];\n}\nif (!phone) {\n  return [{ json: { _skip: true, reason: 'phone number tidak ditemukan di order' } }];\n}\n\nconst webhookData = $('Extract Webhook Data').first().json;\n\n// Simpan order details ke State Manager untuk dipakai AI di Workflow 2\nconst aiSalesAgentEnabled = csConfig.senderName === 'CS Aisyah';\n\n// Only CS Aisyah is enrolled into AI Sales Agent state.\nif (phone && csConfig && aiSalesAgentEnabled) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://n8n.miqra.dev/webhook/conversation-state',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        action: 'set_order',\n        phone,\n        csName: csConfig.senderName,\n        productName: (order.products || [])[0]?.name || '',\n        products: productsList,\n        productsSubtotal: formatRupiah(productsSubtotal),\n        shippingCost: formatRupiah(shippingCost),\n        total: formatRupiah(total),\n        customerName,\n        shippingAddress,\n        shippingDistrict,\n        shippingCity,\n        order_id: webhookData.order_id,\n      }),\n    });\n  } catch (_) {} // silent fail, jangan block order flow\n}\n\nreturn [{ json: {\n  phone,\n  customerName,\n  assignedStaff,\n  csConfig,\n  aiSalesAgentEnabled,\n  total: formatRupiah(total),\n  productsSubtotal: formatRupiah(productsSubtotal),\n  shippingCost: formatRupiah(shippingCost),\n  paymentStatus,\n  products: productsList,\n  shippingAddress,\n  shippingDistrict,\n  shippingCity,\n  orderUrl: order.url || '',\n  event_type: webhookData.event_type,\n  trigger: webhookData.trigger,\n  order_id: webhookData.order_id,\n} }];"
      },
      "id": "node-normalize",
      "name": "Normalize Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        432
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.event_type === 'order.new' ? 0 : ($json.event_type === 'order.update.paymentStatus' && $json.paymentStatus === 'paid') ? 1 : $json.event_type === 'order.update.shippingStatus' ? 2 : 3 }}"
      },
      "id": "node-route-event",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1792,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-prod.kirim.chat/api/v1/public/messages/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.csConfig.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $json.phone, channel: 'whatsapp', message_type: 'template', template: { name: $json.csConfig.templateName, language: { code: 'id' }, components: [{ type: 'body', parameters: [ { type: 'text', text: $json.total }, { type: 'text', text: $json.customerName }, { type: 'text', text: $json.csConfig.senderName }, { type: 'text', text: $json.products }, { type: 'text', text: $json.productsSubtotal }, { type: 'text', text: $json.shippingCost }, { type: 'text', text: $json.phone }, { type: 'text', text: $json.shippingAddress }, { type: 'text', text: $json.shippingDistrict }, { type: 'text', text: $json.shippingCity } ] }] } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-send-new",
      "name": "Send Template: Order Baru",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-prod.kirim.chat/api/v1/public/messages/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.csConfig.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"sender\": \"{{ $json.csConfig.sender }}\",\n  \"template_name\": \"PLACEHOLDER_TEMPLATE_BAYAR_SUKSES\",\n  \"language\": \"id\",\n  \"components\": [\n    { \"type\": \"body\", \"parameters\": [\n      { \"type\": \"text\", \"text\": \"{{ $json.customerName }}\" },\n      { \"type\": \"text\", \"text\": \"{{ $json.order_id }}\" }\n    ]}\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-send-paid",
      "name": "Send Template: Bayar Sukses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-prod.kirim.chat/api/v1/public/messages/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.csConfig.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"sender\": \"{{ $json.csConfig.sender }}\",\n  \"template_name\": \"PLACEHOLDER_TEMPLATE_PENGIRIMAN\",\n  \"language\": \"id\",\n  \"components\": [\n    { \"type\": \"body\", \"parameters\": [\n      { \"type\": \"text\", \"text\": \"{{ $json.customerName }}\" },\n      { \"type\": \"text\", \"text\": \"{{ $json.order_id }}\" }\n    ]}\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-send-shipped",
      "name": "Send Template: Terkirim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log('Done:', JSON.stringify({ status: result.statusCode || 'skipped' }));\nreturn [{ json: { logged: true, ts: new Date().toISOString() } }];"
      },
      "id": "node-log-sent",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        400
      ]
    }
  ],
  "connections": {
    "Berdu Order Webhook": {
      "main": [
        [
          {
            "node": "Extract Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Data": {
      "main": [
        [
          {
            "node": "Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip?": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HMAC SHA256",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC SHA256": {
      "main": [
        [
          {
            "node": "Build Auth Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Auth Header": {
      "main": [
        [
          {
            "node": "GET /order/detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /order/detail": {
      "main": [
        [
          {
            "node": "Normalize Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Order Data": {
      "main": [
        [
          {
            "node": "Route by Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event": {
      "main": [
        [
          {
            "node": "Send Template: Order Baru",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Template: Bayar Sukses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Template: Terkirim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Template: Order Baru": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Template: Bayar Sukses": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Template: Terkirim": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1472e731-3048-481d-a317-595b1e7435fc",
  "activeVersionId": "1472e731-3048-481d-a317-595b1e7435fc",
  "versionCounter": 51,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-24T14:51:55.491Z",
      "createdAt": "2026-05-24T14:51:55.491Z",
      "role": "workflow:owner",
      "workflowId": "wgOVQrzkYOijDta1",
      "projectId": "I2kQHzoFawpqTwF0",
      "project": {
        "updatedAt": "2026-01-23T13:29:36.435Z",
        "createdAt": "2026-01-23T10:40:19.498Z",
        "id": "I2kQHzoFawpqTwF0",
        "name": "Fandi Harahap <fandy.andika@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "88d21b67-3335-40f7-a811-e2cdee83ceb6"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-26T08:58:09.076Z",
    "createdAt": "2026-05-26T08:58:09.076Z",
    "versionId": "1472e731-3048-481d-a317-595b1e7435fc",
    "workflowId": "wgOVQrzkYOijDta1",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "berdu-order-prod",
          "options": {}
        },
        "id": "node-wh-out",
        "name": "Berdu Order Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "webhookId": "499b5c85-fb19-4b9e-82eb-f0078c146c81"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst userId = body.user_id;\nconst orderId = body.order_id;\nconst eventType = body.event_type;\nconst trigger = body.trigger || body.status || '';\n\nconst relevantEvents = ['order.new', 'order.update.paymentStatus', 'order.update.shippingStatus'];\nif (!relevantEvents.includes(eventType)) {\n  return [{ json: { _skip: true, reason: `event ${eventType} diabaikan` } }];\n}\nif (!userId || !orderId) {\n  throw new Error('Webhook payload missing user_id or order_id');\n}\n\nconst APP_ID = 'Z1Ch4oa';\nconst APP_SECRET = 'o03Vk74kQIaN6aB5LNa3IgZDa3ltBwTxyAhQ4UB6vXUw';\nconst ts = Math.floor(Date.now() / 1000);\nconst hmacMessage = `${APP_ID}:${ts}:${APP_SECRET}`;\n\nreturn [{ json: {\n  app_id: APP_ID,\n  api_secret: APP_SECRET,\n  user_id: userId,\n  order_id: orderId,\n  event_type: eventType,\n  trigger,\n  ts,\n  hmacMessage,\n  target_url: `https://api.berdu.id/v0.0/order/detail?user_id=${userId}&order_id=${orderId}`\n} }];"
        },
        "id": "node-prep-out",
        "name": "Extract Webhook Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "skip-check",
                "leftValue": "={{ $json._skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-skip-check",
        "name": "Skip?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "action": "hmac",
          "value": "={{ $json.hmacMessage }}",
          "dataPropertyName": "signature",
          "encoding": "base64"
        },
        "id": "node-hmac-out",
        "name": "HMAC SHA256",
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          912,
          432
        ],
        "credentials": {
          "crypto": {
            "id": "cC2zMvNDWjYud4XA",
            "name": "Berdu HMAC Secret"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst authHeader = `${d.app_id}.${d.ts}.${d.signature}`;\nreturn [{ json: { ...d, authHeader } }];"
        },
        "id": "node-header-out",
        "name": "Build Auth Header",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          432
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.target_url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $json.authHeader }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "node-order-detail-out",
        "name": "GET /order/detail",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1344,
          432
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst order = d.body || d;\n\nfunction normalizePhone(raw) {\n  if (!raw) return null;\n  return raw.toString().replace(/\\s+/g, '').replace(/^\\+/, '').replace(/^0/, '62');\n}\n\nfunction formatRupiah(num) {\n  return 'Rp' + Number(num).toLocaleString('id-ID');\n}\n\nconst addr = order.shipping_address || {};\nconst phone = normalizePhone(addr.phone);\nconst customerName = addr.firstName || 'Pelanggan';\nconst assignedStaff = order.assigned_to_staff;\nconst shippingCost = order.shipping_cost || 0;\nconst total = order.total || 0;\nconst paymentStatus = order.payment_status;\n\nconst productsSubtotal = (order.products || []).reduce((sum, p) => sum + (p.price * p.count), 0);\nconst productsList = (order.products || []).map(p => `${p.name} (${p.count}x)`).join(', ');\n\nconst shippingAddress = addr.address || '';\nconst shippingDistrict = addr.district || '';\nconst shippingCity = addr.city || '';\n\nconst staffMap = {\n  'B-1apQSy': { senderName: 'CS Aisyah', sender: '6281385708799',  apiKey: 'kc_live_eepCPoHDjpF3AyPfX0_2MNDspKiyOcbBxEEeyWJQYNg', templateName: 'whatsapp_notif_order_aisyah' },\n  'B-1CxSmL': { senderName: 'CS Risma',  sender: '6282321381742', apiKey: 'kc_live_vvgG_3JEVsqcsBY3KNakKDqd5CMPFxGuUvyMke5QWf8',  templateName: 'whatsapp_notif_order_risma' },\n  // Lila, Azelia: ditambahkan setelah punya KirimChat sendiri\n};\n\nconst csConfig = staffMap[assignedStaff];\nif (!csConfig) {\n  return [{ json: { _skip: true, reason: `staff ${assignedStaff} tidak ada di mapping` } }];\n}\nif (!phone) {\n  return [{ json: { _skip: true, reason: 'phone number tidak ditemukan di order' } }];\n}\n\nconst webhookData = $('Extract Webhook Data').first().json;\n\n// Simpan order details ke State Manager untuk dipakai AI di Workflow 2\nconst aiSalesAgentEnabled = csConfig.senderName === 'CS Aisyah';\n\n// Only CS Aisyah is enrolled into AI Sales Agent state.\nif (phone && csConfig && aiSalesAgentEnabled) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://n8n.miqra.dev/webhook/conversation-state',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        action: 'set_order',\n        phone,\n        csName: csConfig.senderName,\n        productName: (order.products || [])[0]?.name || '',\n        products: productsList,\n        productsSubtotal: formatRupiah(productsSubtotal),\n        shippingCost: formatRupiah(shippingCost),\n        total: formatRupiah(total),\n        customerName,\n        shippingAddress,\n        shippingDistrict,\n        shippingCity,\n        order_id: webhookData.order_id,\n      }),\n    });\n  } catch (_) {} // silent fail, jangan block order flow\n}\n\nreturn [{ json: {\n  phone,\n  customerName,\n  assignedStaff,\n  csConfig,\n  aiSalesAgentEnabled,\n  total: formatRupiah(total),\n  productsSubtotal: formatRupiah(productsSubtotal),\n  shippingCost: formatRupiah(shippingCost),\n  paymentStatus,\n  products: productsList,\n  shippingAddress,\n  shippingDistrict,\n  shippingCity,\n  orderUrl: order.url || '',\n  event_type: webhookData.event_type,\n  trigger: webhookData.trigger,\n  order_id: webhookData.order_id,\n} }];"
        },
        "id": "node-normalize",
        "name": "Normalize Order Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          432
        ]
      },
      {
        "parameters": {
          "mode": "expression",
          "output": "={{ $json.event_type === 'order.new' ? 0 : ($json.event_type === 'order.update.paymentStatus' && $json.paymentStatus === 'paid') ? 1 : $json.event_type === 'order.update.shippingStatus' ? 2 : 3 }}"
        },
        "id": "node-route-event",
        "name": "Route by Event",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.1,
        "position": [
          1792,
          432
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api-prod.kirim.chat/api/v1/public/messages/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.csConfig.apiKey }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ phone_number: $json.phone, channel: 'whatsapp', message_type: 'template', template: { name: $json.csConfig.templateName, language: { code: 'id' }, components: [{ type: 'body', parameters: [ { type: 'text', text: $json.total }, { type: 'text', text: $json.customerName }, { type: 'text', text: $json.csConfig.senderName }, { type: 'text', text: $json.products }, { type: 'text', text: $json.productsSubtotal }, { type: 'text', text: $json.shippingCost }, { type: 'text', text: $json.phone }, { type: 'text', text: $json.shippingAddress }, { type: 'text', text: $json.shippingDistrict }, { type: 'text', text: $json.shippingCity } ] }] } }) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "node-send-new",
        "name": "Send Template: Order Baru",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          240
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api-prod.kirim.chat/api/v1/public/messages/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.csConfig.apiKey }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"sender\": \"{{ $json.csConfig.sender }}\",\n  \"template_name\": \"PLACEHOLDER_TEMPLATE_BAYAR_SUKSES\",\n  \"language\": \"id\",\n  \"components\": [\n    { \"type\": \"body\", \"parameters\": [\n      { \"type\": \"text\", \"text\": \"{{ $json.customerName }}\" },\n      { \"type\": \"text\", \"text\": \"{{ $json.order_id }}\" }\n    ]}\n  ]\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "node-send-paid",
        "name": "Send Template: Bayar Sukses",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          400
        ],
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api-prod.kirim.chat/api/v1/public/messages/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.csConfig.apiKey }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"sender\": \"{{ $json.csConfig.sender }}\",\n  \"template_name\": \"PLACEHOLDER_TEMPLATE_PENGIRIMAN\",\n  \"language\": \"id\",\n  \"components\": [\n    { \"type\": \"body\", \"parameters\": [\n      { \"type\": \"text\", \"text\": \"{{ $json.customerName }}\" },\n      { \"type\": \"text\", \"text\": \"{{ $json.order_id }}\" }\n    ]}\n  ]\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "node-send-shipped",
        "name": "Send Template: Terkirim",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          560
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const result = $input.first().json;\nconsole.log('Done:', JSON.stringify({ status: result.statusCode || 'skipped' }));\nreturn [{ json: { logged: true, ts: new Date().toISOString() } }];"
        },
        "id": "node-log-sent",
        "name": "Log Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2224,
          400
        ]
      }
    ],
    "connections": {
      "Berdu Order Webhook": {
        "main": [
          [
            {
              "node": "Extract Webhook Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Webhook Data": {
        "main": [
          [
            {
              "node": "Skip?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip?": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HMAC SHA256",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HMAC SHA256": {
        "main": [
          [
            {
              "node": "Build Auth Header",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Auth Header": {
        "main": [
          [
            {
              "node": "GET /order/detail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET /order/detail": {
        "main": [
          [
            {
              "node": "Normalize Order Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Order Data": {
        "main": [
          [
            {
              "node": "Route by Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Event": {
        "main": [
          [
            {
              "node": "Send Template: Order Baru",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Template: Bayar Sukses",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Template: Terkirim",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Template: Order Baru": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Template: Bayar Sukses": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Template: Terkirim": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Fandi Harahap",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-26T08:58:09.116Z",
        "id": 236,
        "workflowId": "wgOVQrzkYOijDta1",
        "versionId": "1472e731-3048-481d-a317-595b1e7435fc",
        "event": "activated",
        "userId": "88d21b67-3335-40f7-a811-e2cdee83ceb6"
      },
      {
        "createdAt": "2026-05-26T08:58:09.102Z",
        "id": 235,
        "workflowId": "wgOVQrzkYOijDta1",
        "versionId": "1472e731-3048-481d-a317-595b1e7435fc",
        "event": "deactivated",
        "userId": "88d21b67-3335-40f7-a811-e2cdee83ceb6"
      }
    ]
  }
}
