automations/n8n/workflows/order-trigger.json
{
  "id": "wgOVQrzkYOijDta1",
  "name": "WaFaChat - Order Trigger",
  "active": true,
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"berdu-order-prod","options":{}},"id":"node-wh-out","name":"Berdu Order Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"499b5c85-fb19-4b9e-82eb-f0078c146c81"},
    {"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst userId = body.user_id;\nconst orderId = body.order_id;\nconst eventType = body.event_type;\nconst trigger = body.trigger || body.status || '';\nconst relevantEvents = ['order.new', 'order.update.paymentStatus', 'order.update.shippingStatus'];\nif (!relevantEvents.includes(eventType)) return [{ json: { _skip: true, reason: `event ${eventType} diabaikan` } }];\nif (!userId || !orderId) throw new Error('Webhook payload missing user_id or order_id');\nconst APP_ID = 'Z1Ch4oa';\nconst APP_SECRET = 'o03Vk74kQIaN6aB5LNa3IgZDa3ltBwTxyAhQ4UB6vXUw';\nconst ts = Math.floor(Date.now() / 1000);\nconst hmacMessage = `${APP_ID}:${ts}:${APP_SECRET}`;\nreturn [{ json: { app_id: APP_ID, api_secret: APP_SECRET, user_id: userId, order_id: orderId, event_type: eventType, trigger, ts, hmacMessage, target_url: `https://api.berdu.id/v0.0/order/detail?user_id=${userId}&order_id=${orderId}` } }];"},"id":"node-prep-out","name":"Extract Webhook Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json._skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"node-skip-check","name":"Skip?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,304]},
    {"parameters":{"action":"hmac","value":"={{ $json.hmacMessage }}","dataPropertyName":"signature","encoding":"base64"},"id":"node-hmac-out","name":"HMAC SHA256","type":"n8n-nodes-base.crypto","typeVersion":2,"position":[912,432],"credentials":{"crypto":{"id":"cC2zMvNDWjYud4XA","name":"Berdu HMAC Secret"}}},
    {"parameters":{"jsCode":"const d = $input.first().json;\nconst authHeader = `${d.app_id}.${d.ts}.${d.signature}`;\nreturn [{ json: { ...d, authHeader } }];"},"id":"node-header-out","name":"Build Auth Header","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,432]},
    {"parameters":{"url":"={{ $json.target_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.authHeader }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"node-order-detail-out","name":"GET /order/detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,432]},
    {"parameters":{"jsCode":"const d = $input.first().json;\nconst order = d.body || d;\nfunction normalizePhone(raw) { if (!raw) return null; return raw.toString().replace(/\\s+/g,'').replace(/^\\+/,'').replace(/^0/,'62'); }\nfunction formatRupiah(num) { return 'Rp' + Number(num).toLocaleString('id-ID'); }\nconst addr = order.shipping_address || {};\nconst phone = normalizePhone(addr.phone);\nconst customerName = addr.firstName || 'Pelanggan';\nconst assignedStaff = order.assigned_to_staff;\nconst shippingCost = order.shipping_cost || 0;\nconst total = order.total || 0;\nconst paymentStatus = order.payment_status;\nconst productsSubtotal = (order.products || []).reduce((sum, p) => sum + (p.price * p.count), 0);\nconst productsList = (order.products || []).map(p => `${p.name} (${p.count}x)`).join(', ');\nconst shippingAddress = addr.address || '';\nconst shippingDistrict = addr.district || '';\nconst shippingCity = addr.city || '';\nconst staffMap = { 'B-1apQSy': { senderName: 'CS Aisyah', sender: '6281385708799', apiKey: 'kc_live_eepCPoHDjpF3AyPfX0_2MNDspKiyOcbBxEEeyWJQYNg', templateName: 'whatsapp_notif_order_aisyah' }, 'B-1CxSmL': { senderName: 'CS Risma', sender: '6282321381742', apiKey: 'kc_live_vvgG_3JEVsqcsBY3KNakKDqd5CMPFxGuUvyMke5QWf8', templateName: 'whatsapp_notif_order_risma' } };\nconst csConfig = staffMap[assignedStaff];\nif (!csConfig) return [{ json: { _skip: true, reason: `staff ${assignedStaff} tidak ada di mapping` } }];\nif (!phone) return [{ json: { _skip: true, reason: 'phone number tidak ditemukan di order' } }];\nconst webhookData = $('Extract Webhook Data').first().json;\nconst aiSalesAgentEnabled = csConfig.senderName === 'CS Aisyah';\nconst stateTrackingEnabled = ['CS Aisyah', 'CS Risma'].includes(csConfig.senderName);\nif (phone && csConfig && stateTrackingEnabled) { try { await this.helpers.httpRequest({ method: 'POST', url: 'https://n8n.miqra.dev/webhook/conversation-state', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ action: 'set_order', phone, csName: csConfig.senderName, productName: (order.products || [])[0]?.name || '', products: productsList, productsSubtotal: formatRupiah(productsSubtotal), shippingCost: formatRupiah(shippingCost), total: formatRupiah(total), customerName, shippingAddress, shippingDistrict, shippingCity, order_id: webhookData.order_id }) }); } catch (_) {} }\nconst templateParams = [ formatRupiah(total), customerName, csConfig.senderName, productsList, formatRupiah(productsSubtotal), formatRupiah(shippingCost), phone, shippingAddress, shippingDistrict, shippingCity ];\nconst kirimChatBody = { phone_number: phone, channel: 'whatsapp', message_type: 'template', template: { name: csConfig.templateName, language: { code: 'id' }, components: [{ type: 'body', parameters: templateParams.map(text => ({ type: 'text', text: String(text) })) }] } };\nreturn [{ json: { phone, customerName, assignedStaff, csConfig, aiSalesAgentEnabled, total: formatRupiah(total), productsSubtotal: formatRupiah(productsSubtotal), shippingCost: formatRupiah(shippingCost), paymentStatus, products: productsList, shippingAddress, shippingDistrict, shippingCity, templateParams, orderUrl: order.url || '', event_type: webhookData.event_type, trigger: webhookData.trigger, order_id: webhookData.order_id, kirimChatBody } }];"},"id":"node-normalize","name":"Normalize Order Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,432]},
    {"parameters":{"mode":"expression","output":"={{ $json.event_type === 'order.new' ? 0 : ($json.event_type === 'order.update.paymentStatus' && $json.paymentStatus === 'paid') ? 1 : $json.event_type === 'order.update.shippingStatus' ? 2 : 3 }}"},"id":"node-route-event","name":"Route by Event","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[1792,432]},
    {"parameters":{"method":"POST","url":"https://api-prod.kirim.chat/api/v1/public/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.csConfig.apiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.kirimChatBody) }}","options":{"response":{"response":{"neverError":true}}}},"id":"node-send-new","name":"Send Template: Order Baru","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,240]},
    {"parameters":{"jsCode":"const result = $input.first().json;\nconsole.log('Done:', JSON.stringify({ status: result.statusCode || 'skipped' }));\nreturn [{ json: { logged: true, ts: new Date().toISOString() } }];"},"id":"node-log-sent","name":"Log Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,400]}
  ],
  "connections": {
    "Berdu Order Webhook": {"main":[[{"node":"Extract Webhook Data","type":"main","index":0}]]},
    "Extract Webhook Data": {"main":[[{"node":"Skip?","type":"main","index":0}]]},
    "Skip?": {"main":[[{"node":"Log Result","type":"main","index":0}],[{"node":"HMAC SHA256","type":"main","index":0}]]},
    "HMAC SHA256": {"main":[[{"node":"Build Auth Header","type":"main","index":0}]]},
    "Build Auth Header": {"main":[[{"node":"GET /order/detail","type":"main","index":0}]]},
    "GET /order/detail": {"main":[[{"node":"Normalize Order Data","type":"main","index":0}]]},
    "Normalize Order Data": {"main":[[{"node":"Route by Event","type":"main","index":0}]]},
    "Route by Event": {"main":[[{"node":"Send Template: Order Baru","type":"main","index":0}],[],[],[{"node":"Log Result","type":"main","index":0}]]},
    "Send Template: Order Baru": {"main":[[{"node":"Log Result","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true},
  "versionId": "772c38e6-aa9a-4d25-8cce-2c5e3e29af38",
  "updatedAt": "2026-06-03T05:59:08.760Z"
}
