automations/n8n/workflows/order-trigger-v2-kirimdev.json
{
  "id": "M16ChgpsZsbDAlqC",
  "name": "WaFaChat - Order Trigger v2 (KirimDev)",
  "active": true,
  "nodes": [
    {"id":"node-wh-v2","name":"Berdu Order Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"parameters":{"httpMethod":"POST","path":"berdu-order-v2","options":{}},"webhookId":"berdu-order-v2-wh"},
    {"id":"node-extract","name":"Extract Webhook Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,304],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst userId = body.user_id;\nconst orderId = body.order_id;\nconst eventType = body.event_type;\nif (eventType !== 'order.new') return [{ json: { _skip: true, reason: `event ${eventType} diabaikan (hanya order.new)` } }];\nif (!userId || !orderId) throw new Error('Webhook payload missing user_id or order_id');\nconst APP_ID = 'NEW_APP_ID';\nconst APP_SECRET = 'NEW_APP_SECRET';\nconst ts = Math.floor(Date.now() / 1000);\nconst hmacMessage = `${APP_ID}:${ts}:${APP_SECRET}`;\nreturn [{ json: { app_id: APP_ID, api_secret: APP_SECRET, user_id: userId, order_id: orderId, event_type: eventType, ts, hmacMessage, target_url: `https://api.berdu.id/v0.0/order/detail?user_id=${userId}&order_id=${orderId}` } }];"}},
    {"id":"node-skip","name":"Skip?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,304],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json._skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}}},
    {"id":"node-hmac","name":"HMAC SHA256","type":"n8n-nodes-base.crypto","typeVersion":2,"position":[900,432],"parameters":{"action":"hmac","value":"={{ $json.hmacMessage }}","dataPropertyName":"signature","encoding":"base64"}},
    {"id":"node-auth","name":"Build Auth Header","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,432],"parameters":{"jsCode":"const d = $input.first().json;\nconst authHeader = `${d.app_id}.${d.ts}.${d.signature}`;\nreturn [{ json: { ...d, authHeader } }];"}},
    {"id":"node-detail","name":"GET /order/detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,432],"parameters":{"url":"={{ $json.target_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.authHeader }}"}]},"options":{"response":{"response":{"neverError":true}}}}},
    {"id":"node-normalize","name":"Normalize Order Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,432],"parameters":{"jsCode":"const d = $input.first().json;\nconst order = d.body || d;\nfunction normalizePhone(raw) { if (!raw) return null; return raw.toString().replace(/\\s+/g,'').replace(/^\\+/,'').replace(/^0/,'62').replace(/^8/,'628'); }\nfunction formatRupiah(num) { return 'Rp' + Number(num).toLocaleString('id-ID'); }\nconst addr = order.shipping_address || {};\nconst phone = normalizePhone(addr.phone);\nconst customerName = addr.firstName || 'Pelanggan';\nconst assignedStaff = order.assigned_to_staff;\nconst shippingCost = order.shipping_cost || 0;\nconst total = order.total || 0;\nconst productsSubtotal = (order.products || []).reduce((sum, p) => sum + (p.price * p.count), 0);\nconst productsList = (order.products || []).map(p => `${p.name} (${p.count}x)`).join(', ');\nconst shippingAddress = addr.address || '';\nconst shippingDistrict = addr.district || '';\nconst shippingCity = addr.city || '';\nconst staffMap = { 'B-1apQSy': { platform: 'kirimdev', phoneId: 'AISYAH_PHONE_ID', senderName: 'Aisyah', templateName: 'whatsapp_notif_order_aisyah' }, 'B-1CxSmL': { platform: 'kirimdev', phoneId: 'RISMA_PHONE_ID', senderName: 'Risma', templateName: 'whatsapp_notif_order_risma_v2' }, 'B-Z28TdYc': { platform: 'kirimdev', phoneId: 'AZELIA_PHONE_ID', senderName: 'Azelia', templateName: 'whatsapp_notif_order_azela' }, 'B-NCIXt': { platform: 'kirimdev', phoneId: 'LILA_PHONE_ID', senderName: 'Lila', templateName: 'whatsapp_notif_order_lila' } };\nconst csConfig = staffMap[assignedStaff];\nif (!csConfig) return [{ json: { _skip: true, reason: `staff ${assignedStaff} tidak ada di mapping` } }];\nif (csConfig.phoneId === 'PENDING' || csConfig.templateName === 'PENDING') return [{ json: { _skip: true, reason: `${csConfig.senderName} belum ready (PHONE_ID/template pending)` } }];\nif (!phone) return [{ json: { _skip: true, reason: 'phone tidak ditemukan di order' } }];\nconst webhookData = $('Extract Webhook Data').first().json;\nconst templateParams = [ customerName, csConfig.senderName, productsList, formatRupiah(productsSubtotal), formatRupiah(shippingCost), formatRupiah(total), phone, shippingAddress, shippingDistrict, shippingCity, (order.url || '') ];\nconst kirimDevBody = { messaging_product: 'whatsapp', to: '+' + phone, type: 'template', template: { name: csConfig.templateName, language: { code: 'id' }, components: [{ type: 'body', parameters: templateParams.map(text => ({ type: 'text', text: String(text).replace(/\\s+/g, ' ').trim() })) }] } };\ntry { await this.helpers.httpRequest({ method: 'POST', url: 'https://n8n.miqra.dev/webhook/conversation-state', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ action: 'set_order', phone, csName: csConfig.senderName, productName: (order.products || [])[0]?.name || '', products: productsList, productsSubtotal: formatRupiah(productsSubtotal), shippingCost: formatRupiah(shippingCost), total: formatRupiah(total), customerName, shippingAddress, shippingDistrict, shippingCity, order_id: webhookData.order_id }) }); } catch (_) {} return [{ json: { phone, customerName, assignedStaff, csConfig, total: formatRupiah(total), productsSubtotal: formatRupiah(productsSubtotal), shippingCost: formatRupiah(shippingCost), products: productsList, shippingAddress, shippingDistrict, shippingCity, templateParams, event_type: webhookData.event_type, order_id: webhookData.order_id, kirimDevBody } }];"}},
    {"id":"node-skip2","name":"Skip?2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1780,432],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check-2","leftValue":"={{ $json._skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}}},
    {"id":"node-send","name":"Send Template KirimDev","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,560],"parameters":{"method":"POST","url":"=https://api.kirimdev.com/v1/{{ $json.csConfig.phoneId }}/messages","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.kirimDevBody) }}","options":{"response":{"response":{"neverError":true}}}}},
    {"id":"node-log","name":"Log Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,432],"parameters":{"jsCode":"const r = $input.first().json;\nconst status = (r.data && r.data.status) || r.statusCode || (r._skip ? 'skipped' : 'unknown');\nconsole.log('KirimDev v2 done:', JSON.stringify({ status, request_id: r.request_id || null, reason: r.reason || null }));\nreturn [{ json: { logged: true, status, ts: new Date().toISOString() } }];"}}
  ],
  "connections": {
    "Berdu Order Webhook": {"main":[[{"node":"Extract Webhook Data","type":"main","index":0}]]},
    "Extract Webhook Data": {"main":[[{"node":"Skip?","type":"main","index":0}]]},
    "Skip?": {"main":[[{"node":"Log Result","type":"main","index":0}],[{"node":"HMAC SHA256","type":"main","index":0}]]},
    "HMAC SHA256": {"main":[[{"node":"Build Auth Header","type":"main","index":0}]]},
    "Build Auth Header": {"main":[[{"node":"GET /order/detail","type":"main","index":0}]]},
    "GET /order/detail": {"main":[[{"node":"Normalize Order Data","type":"main","index":0}]]},
    "Normalize Order Data": {"main":[[{"node":"Skip?2","type":"main","index":0}]]},
    "Skip?2": {"main":[[{"node":"Log Result","type":"main","index":0}],[{"node":"Send Template KirimDev","type":"main","index":0}]]},
    "Send Template KirimDev": {"main":[[{"node":"Log Result","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true},
  "versionId": "b953c942-c9d5-447c-8a5a-a76254b7768a",
  "updatedAt": "2026-06-17T12:54:48.807Z",
  "_notes": "Phase-1 Aisyah pilot. Placeholders NEW_APP_ID / NEW_APP_SECRET / AISYAH_PHONE_ID are wired with real values in n8n (not committed). Credentials attached in n8n: 'Berdu HMAC Secret v2' (crypto) on HMAC SHA256, 'KirimDev API' (httpHeaderAuth) on Send Template KirimDev. Runs in parallel with v1 (wgOVQrzkYOijDta1); Risma stays on v1."
}
